@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title-biggest {
    font-size: 48px;
  }
  .subtitle-biggest {
    font-size: 28px;
  }
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 24px;
  }
  .text-small {
    font-size: 16px;
  }
  .m-ext{
    margin: 32px;
  }
  .m-int{
    margin: 16px;
  }

}
.hidden{
  overflow: hidden
}

.visible{
  overflow: visible;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main{
  max-width: 1366px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fadeoff {
  animation: fadeOut .5s;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


.fadein {
  animation: fadeIn .5s;
}
.rotate{
  transition: transform 500ms;
  transform-origin: center;
}

.rotateAnimation{
  transform: rotate(45deg);
}

.removeRotateAnimation{
  transform: rotate(-45deg);

}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




@keyframes expand {
  0% {height: 64px;}
  100% {height: auto;}
}




.ellipsisOneLine p {
  width: 100%;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 26*1.4*3; /* Fallback for non-webkit */
  line-height: 1.4;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="checkbox"] {
  width:35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}

.elipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.section {
  overflow: hidden;
  max-height: 9999px; /* Definir la misma altura máxima que en .sectionActive */
  transition: all 500ms linear;
}

.sectionInactive {
  max-height: 70px; /* Definir la misma altura máxima que en .sectionActive */
}

.sectionActive {
  max-height: 9999px;
}
